@{
    ViewData["Title"] = "Home Page";
}


<div id="ProductReviewContainer">
    <div id="ProductReviewDetails">
        @*Product Review Goes Here*@
        Click "Generate" button to see a new review
    </div>
   <input id="Generate" type="button" value="Generate"/>
</div>
